li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8
{ list-style-type: decimal !important }
    .active {
        background-color:highlight;
    }
    button,input[type="submit"] {
    background-color: #E5E9E8;
    text-shadow: 0 1px #FFF;
    box-shadow: inset 0 1px #FFF;
    cursor:pointer;
    }
    input[type="submit"][disabled=disabled], input[type="submit"]:disabled {
    background-color: #B4B8B7;
    }
    select, button,input[type="submit"] {
    display: inline-block;
    height: 48px;
    padding: 12px 16px;
    border: 1px solid #999;
    line-height: 22px;
    color: #555;
    }
    .pt {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 100%;
    padding: 20px;
    border-right: 1px solid #9daca9;
    background: #FFF;
    float:left;width:30%;
    }
    .info {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 100%;
    padding: 20px;
    background: #FFF;
    }
    .tab {
    padding-left:10px;
    cursor:pointer;
    border-bottom: 1px solid #151717;
    color: #FCFCBD;
    background: #2D3232;
    box-shadow: inset 0 2px rgba(255, 255, 255, .5);
    margin-bottom:10px;
    float:left;
    width:32%;
    }
    .tab.active {
    border-bottom: 1px solid #2D3232;
    background: #393F3F;
    box-shadow: inset 0 2px rgba(255, 255, 255, .15);
    color:highlight;
    }
    body { margin:0;}
    @import url(webfont.css);

    /* Normalise elements */
    html,
    body {
    margin: 0;
    }

    legend,
    fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    }

    select,
    button {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    border-radius: 0;
    font: inherit;
    vertical-align: middle;
    }

    button::-moz-focus-inner {
    border: 0;
    padding: 0;
    }


    /* Typography */
    body {
    font: normal 16px/1.5 Karla, Helvetica, Arial, sans-serif;
    color: #333;
    }

    h1 {
    margin: 0 0 16px;
    font-weight: normal;
    font-size: 36px;
    line-height: 48px;
    }

    h2 {
    margin: 0 0 8px;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    }

    p {
    margin: 0 0 16px;
    }


    /* Form elements */
    select,
    button {
    display: inline-block;
    height: 48px;
    padding: 12px 16px;
    border: 1px solid #999;
    line-height: 22px;
    color: #555;
    }

    select:focus,
    button:focus {
    outline: 2px solid #2070B0;
    }

    select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Remove the dropdown arrow from FF. Dirty. */
    text-indent: .01px;
    text-overflow: ' ';

    background-color: #FFF;
    box-shadow: inset 0 2px rgba(0, 0, 0, .15);
    }

    select:focus {
    color: #333;
    border-color: #0036FF;
    }

    button {
    background-color: #E5E9E8;
    text-shadow: 0 1px #FFF;
    box-shadow: inset 0 1px #FFF;
    }

    button:hover,
    button:focus {
    background-color: #EFF1F1;
    }

    button:active {
    border-color: #999;
    background-color: #D2D6D6;
    box-shadow: inset 0 2px rgba(0, 0, 0, .15);
    }
    .body {
    overflow: hidden;
    }

     .examples {
    border-bottom: 1px solid #9daca9;
    margin-bottom:10px;
    height:180px;
    }
    .ci-submit {
    float:right;
    }
    select,
    button {
    float: left;
    }
     select {
    width: 75%;
    border-right: 0;
    }
    button {
    width: 25%;
    }
    .notice--welcome {
    background: #F2F8FD;
    border-color: #2B8BD8 !important;
    }
    .tab-list {
    list-style-type:none;padding:10px;word-wrap: break-word;float:left;width:100%;margin:0;padding-bottom:0;
    }
    .tab-container {
    float:left;width:70%;margin-top:0;padding-top:0;
    }
    #panels {
    float:left;width:100%;
    }
